.add_chat_button{
    position: fixed;
    right: 1em;
    bottom: 1em;
    background-color: #f9d667;
    border: none;
    border-radius: 2em;
    height: 4em;
    width: 4em;
}

.black-icon{
    font-size: 2em;
    color: rgba(0, 0, 0);
    cursor: pointer;
}

.black-icon:hover{
    color: rgba(0, 0, 0, 0.8);
}

