.button{
    border: none;
    background-color: var(--main-color);
    padding: 1em 2em;
    color: var(--main-bg-color);
    border-radius: 1em;
    cursor: pointer;
}

.button:hover{
    background-color: var(--main-color-hover);
}