.page {
    display: grid;
    grid-template-rows: 6em repeat(10, auto) 6em;
    grid-template-columns: auto;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(25, 25, 25, 0.32);
    overflow-x: visible;
}

#avatar{
    border-radius: 12px;
}

.messages{
    min-height: 100dvh;
    display: flex;
    gap: 0.1em;
    font-size: 1.2em;
    line-height: 1.2em;
    flex-direction: column-reverse;
    justify-content: end;
    grid-row-start: span 10;
}

.message {
    width: 20em;
    min-width: 200px;
    border: 1px solid;
    margin-top: 4px;
    margin-left: auto;
    margin-right: 4px;
    border-radius: 4px;
    padding: 8px;
    background-color: #8d24aa21;
    word-break: break-all;
}

.message:hover{
    background-color: #8d24aa42;
}

.others_message{
    width: 20em;
    min-width: 200px;
    border: 1px solid;
    margin-top: 4px;
    margin-right: auto;
    margin-left: 4px;
    border-radius: 4px;
    padding: 0.2em;
}

.others_message:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.message__name{
    font-weight: 600;
    margin-bottom: 8px;
}
.message__time{
    text-align: end;
    box-sizing: border-box;
    font-size: 0.75em;
}

input[type=submit] {
    visibility: collapse;
}

.new_message{
    display: flex;
    align-items: center;
    position: sticky;
    height: 10em;
    border: 4px solid;
    margin: 4px;
    bottom: 4px;
    padding: 12px;
    background-color: #fff;
    grid-row-start: span 1;
}

.new_message__input{
    font: inherit;
    line-height: 1.2em;
    font-size: 1.2em;
    max-height: 76px;
    text-align: start;
    resize: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    overflow-y: auto;
}

.mainControl{
    width: 100%;
    height: 100%;
}
.new_message__input:focus-visible{
    border: none;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
    overflow-x: visible;
    font-size: 1.25em;
}

.form__header {
    display: flex;
    gap: 8px;
    position: sticky;
    height: fit-content;
    top: 0;
    padding: 15px;
    align-items: center;
    background-color: #8E24AA;
    color: #FFFFFF;
    font-size: 1.25em;
    grid-row-start: span 1;
    line-height: 1.25em;
}

.avatar{
    width: 2em;
    height: 2em;
}

.form__header article{
    flex-grow: 2;
}
.end{
    visibility: hidden;
}


.form__header h5{
    font-size: 1.25em;
}
.form__header h6{
    font-size: 0.9em;
}

.attachmentContainer {
    position: relative; /* Контейнер для позиционирования меню */
}

.attachmentMenu {
    position: absolute;
    bottom: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    padding: 10px;
}

.menuItem {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
}

.menuItem:last-child {
    border-bottom: none; /* Убираем нижнюю границу у последнего элемента */
}

.menuItem:hover {
    background-color: #f5f5f5; /* Подсветка при наведении */
}

.icon{

}

.activeMic{
    animation: pulse 1s infinite;
    border-radius: 1em;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--main-color-0);
    }
    70% {
        box-shadow: 0 0 0 10px var(--main-color-40);
    }
    100% {

        box-shadow: 0 0 0 0 var(--main-color-0);
    }
}

.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
